/* styling for homepage */
.descrp {
    text-align: center;
}

.info {
    text-align: center;
}

.title {
    float: left;
}

.topnav-right {
    float: right;
}

header {
    grid-area: head;
}

body {
    display: grid;
    grid-template: 'head' 'map' 1fr / auto;
}

main {
    grid-area: map;
}

.map {
    height: 700px;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: fixed;
}

.address-input {
    text-align: center;
}

div h1 {
    display: inline-block;
    width: 100%;
    margin-right: -50%;
}

div loginbutton {
    float: right;
}
div registerbutton {
    float: right;
}

.registerForm {
    text-align: center;
}
