/* custom font files */
@font-face {
    font-family: "Proxima Nova Soft";
    src: url("css/fonts/ProximaNovaSoft.otf")format("opentype");
    src: url("css/fonts/ProximaNovaSoftRegular.eot");
    
    font-family: "Helvetica Neue";
    src: url("css/fonts/HelveticaNeue.otf")format("opentype");
    src: url("css/fonts/HelveticaNeue.eot");

    font-family: "MADE TOMMY ExtraBold";
    src: url("css/fonts/MADE TOMMY ExtraBold.otf")format("opentype");

    font-family: "Moon Get Heavy";
    src: url("css/fonts/moon_get-Heavy.otf")format("opentype");
    src: url("css/fonts/moon_get-Heavy.eot");

    font-family: "The Bold Font";
    src: url("css/fonts/theboldfont.ttf");
}
/*  */

/*  */
/* font for all of body in web-app */
body {
    font-family: "Proxima Nova Soft", "Helvetica Neue", sans-serif;
}
/*  */

/*  */
/* styling for homepage begins*/
.descrp {
    text-align: center;
    font-size: 10px;
}

.lead {
    text-align: center;
}

.info {
    text-align: center;
    
}

.title {
    float: left;
}

.topnav-right {
    float: right;
}

.jumbotron {
    margin-left: 100px !important;
    margin-right: 100px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.display-2 {
    color: red; 
    text-align:center;
}

.question {
    font-size: 35px;
}

.definition{
    font-size: 20px;
}
/* styling for homepage ends */
/*  */

/*  */
/* styling for /map page begins */
header {
    grid-area: head;
}

body {
    display: grid;
    grid-template: 'head' 'map' 1fr / auto;
}

.redText {
    color: red;
}

main {
    grid-area: map;
}

.map {
    height: 500px;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: fixed;
}

.instrc {
    font-size: 20px;
}

#locationform {
    text-align: center;
}

.address-input {
    text-align: center;
}

#comments {
    font-size: 20px;
}
/* styling for /map page ends */
/*  */

div h1 {
    display: inline-block;
    width: 100%;
    margin-right: -50%;
}

div loginbutton {
    float: right;
}

/*  */
/* styling for /register page begins */
div registerbutton {
    float: right;
}

.registerForm {
    text-align: center;
}

.inst {
    font-size: 18px;
}
/* styling for /register page ends */
/*  */

