<!DOCTYPE html>
<html>
    <head>
        <title>InformUs</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script 
        src="http://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"
        ></script>
        {% block header %} {% endblock %}
    </head>

    <body>
        <h1>InformUS</h1>
        {% block content %}Body content goes here{% endblock %}
        <footer>InformUS Informing Voters Since 2020</footer>
    </body>
</html>