{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/styles.css"/>
<style>
    #map {
        width: 100%;
        height: 100%;
    }
</style>

<main>
    <br>    
    <section class="map container-fluid">
    <div id="map"></div>
    </section>
</main>
<br>
<div class="intro container-fluid">
    <h2>Instructions:</h2>
    Click the map marker <span class="redText">once</span> to view information about the selected the polling center.
    <br>
    Click the map marker <span class="redText">twice</span> to view the comments left for the selected polling center.
    <br>
    To have a text message sent to your phone, reminding you of your state's polling hours, click the "Send me a text reminder!" button below!
</div>

<div class="container-fluid"><a href='/map'>To view comments for other polling centers click here!</a></div>

<br>
<div class="container-fluid">
    <form action="/twilio" method="POST">
        <button type="submit" class="btn btn-info">Send me a text reminder!</button>
    </form>
</div>

<br>
<div class="container-fluid">
    <ul class="list-group">
        <li class="locationtitle list-group-item active" id="loctitle" style="font-size: 25px;"></li>
        <li class="list-group-item" id="comments"></li>
    </ul>
</div>

<script>
    
    function initMap() {
        const unitedStates = {
            lat: 37.0902, lng: -95.7129
        };

        const basicMap = new google.maps.Map(document.querySelector('#map'), 
                        {
                            center: unitedStates,
                            zoom: 5
                        });

        const pollingInfo = new google.maps.InfoWindow();
        
    var map;
    function initialize() {

        var mapOptions = {
            center: new google.maps.LatLng(10,10),
            zoom: 5
        };
    }

        $.get('/homesetup.json',  (locations) => {
            const coords = new google.maps.LatLng(locations[0].latlng)
                basicMap.setCenter(coords);
                basicMap.setZoom(12);

            for (const location of locations) {
                console.log(location);
                $('.locationtitle')[0].innerHTML = location.locationName
                const pollingLocationInfo = (`
                <div class="window-content">
                    <ul class="location-info">
                        <li><b>Location Name: </b>${location.locationName}</li>
                        <li><b>Hours: </b>${location.hours}</li>
                        <li><b>Location: </b>${location.latlng.lat}, ${location.latlng.lng}</li>
                        <form action="/home" method="POST">
                        <li><b>Comment: </b>
                            <input type="text" id="comment" name="comment" maxlength="140"></li>
                            <input type="hidden" name="lat" value="${location.latlng.lat}">
                            <input type="hidden" name="lng" value="${location.latlng.lng}">
                            <input type="hidden" name="locationname" value="${location.locationName}">
                            <input type="hidden" name="hours" value="${location.hours}">
                            <input type="submit">
                        </form>
                    </ul>
                </div>
            `);

            $('#comment').on('submit', (evt) => {
                evt.preventDefault();
                console.log("hello");
            })
         
                const flagMarker = new google.maps.Marker({
                    position: location.latlng,
                    map: basicMap,
                });

                
                flagMarker.addListener('click', () => {
                    pollingInfo.close();
                    pollingInfo.setContent(pollingLocationInfo);
                    pollingInfo.open(basicMap, flagMarker);
                });

                flagMarker.addListener('dblclick', () => {
                    const data = {
                        'lat': location.latlng.lat,
                        'lng': location.latlng.lng
                    }

                    $.get('/comments.json', data, (res) => {
                        $('#comments').empty();
                        for (c of res) {
                        $('#comments').append(`
                        <div id=${c.comment_id}>
                            ${c.comment_id}. User ID: ${c.user_id}, Comment: ${c.comment}
                        </div>
                        `)
                        };
                        })
                    
                });
            }
        })
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCALOx3a43D4qa6l_2R9YJPAPF43A4NnjA&callback=initMap"></script>
<br>

{% endblock %}