{% extends "base.html" %}

{% block content %}

<div class="container">
<br>
<h1 class="container-fluid">Log In</h1>
<br>
<br>
<div class="container-fluid">
<form action='/login' method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group row justify-content-left">
            {{ form.email.label(class="col-sm-1 col-form-label") }}
        <div class="col-sm-4">
            {{ form.email(placeholder='youremail@example.com', class="form-control") }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-group row justify-content-left">
        {{ form.password.label(class="col-sm-1 col-form-label") }}
        <div class="col-sm-4">
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
<br>
    <div class="group row justify-content-left">
        <div class="col-sm-4">New User? <a href="{{ url_for('register') }}">Click to Register!</a></div>
    </div>
<br>
    <div class="form-group row">
        <div class="col-sm-8">
            <input class="btn btn-info" type="submit" value="Login">
        </div>
    </div>
</form>
</div>
<br>
<!-- <div class="container">
<p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div> -->

{% endblock %}