{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="/static/css/styles.css"/>
<style>
    #map {
        width: 100%;
        height: 100%;
    }
</style>

{% endblock header %} 

{% block content %}

<main>
<br>
<section class="map container-fluid">
    <div id="map"></div>
</section>
</main>
<div class="intro container-fluid">
    <br>
    Click the map marker <span class="redText">once</span> to view information about the selected the polling center.
    <br>
    Click the map marker <span class="redText">twice</span> to view the comments left for the selected polling center.
    <br>
</div>
<br>
<form action='/map'id="locationform" method="POST">

    <div class="address-input">
        <div class="instrc">
            <b>To find a nearby polling center, please input an address:</b>
        </div>
            <p>
            <div class="form-group row justify-content-center">
                <label class="col-sm-1 col-form-label">Street: </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="street">
                </div>
            </div>
            </p>
        <p>
            <div class="form-group row justify-content-center">
                <label class="col-sm-1 col-form-label">City: </label> 
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="city">
                </div>
            </div>
        </p>
        <p>
            <div class="form-group row justify-content-center">
                <label class="col-sm-1 col-form-label">State: </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="state">
                </div>
            </div>
        </p>
        <p>
            <div class="form-group row justify-content-center">
                <label class="col-sm-1 col-form-label">Zipcode: </label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="zipcode">
                </div>
            </div>
        </p>
        <p>
            <div class="form-group row justify-content-center">
                <div class="col-sm-5">
                <button type="submit" id="geocode-address" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </p>
    </div>

</form>

<div class="container-fluid">
    <ul class="list-group">
        <li class="locationtitle list-group-item active" id="loctitle" style="font-size: 25px;"></li>
        <li class="list-group-item" id="comments"></li>
    </ul>
</div>

<script>
    function initMap() {
        const unitedStates = {
            lat: 37.0902,
            lng: -95.7129
        };

        const basicMap = new google.maps.Map(document.querySelector('#map'), 
                        {
                            center: unitedStates,
                            zoom: 5
                        });
        
        const pollingInfo = new google.maps.InfoWindow();
        
        $('#locationform').on('submit', (evt) => {
            evt.preventDefault();

            const formInputs = $('#locationform').serialize();

            $.get('/locations.json', formInputs, (locations) => {
                for (const location of locations) {
                    const pollingLocationInfo = (`
                    <div class="window-content">
                        <ul class="location-info">
                            <li><b>Location Name: </b>${location.locationName}</li>
                            <li><b>Hours: </b>${location.hours}</li>
                            <li><b>Location: </b>${location.latlng.lat}, ${location.latlng.lng}</li>
                        </ul>
                    </div>
                `);
    
                const flagMarker = new google.maps.Marker({
                    position: location.latlng,
                    map: basicMap,
                });

                const coords = new google.maps.LatLng(location.latlng)
                basicMap.setCenter(coords);
                basicMap.setZoom(12);
    
                flagMarker.addListener('click', () => {
                    pollingInfo.close();
                    pollingInfo.setContent(pollingLocationInfo);
                    pollingInfo.open(basicMap, flagMarker);
                });

                flagMarker.addListener('dblclick', () => {
                    const data = {
                        'lat': location.latlng.lat,
                        'lng': location.latlng.lng
                    }

                    $.get('/comments.json', data, (res) => {
                        $('#loctitle').append(`Location: ${location.locationName}`)
                        $('#comments').empty();
                        for (c of res) {
                        $('#comments').append(`
                        <div id=${c.comment_id}>
                            ${c.comment_id}. User ID: ${c.user_id}, Comment: ${c.comment}
                        </div>
                        `)
                        };
                        })
                })
            }});
        });
    };

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCALOx3a43D4qa6l_2R9YJPAPF43A4NnjA&callback=initMap"></script>
<br>

{% endblock %}