{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="/static/css/styles.css"/>
{% endblock header %}

{% block content %}

<script src="/static/js/autocomplete.js"></script>

<form action='/register' method="POST">
    <div class="registerForm">
        Fill in the required fields to register an account:
        <p>
            <label>First Name: </label><input type="text" name="fname" required>
        </p>
        <p>
            <label>Last Name: </label><input type="text" name="lname" required>
        </p>
        <p>
            <label>Email: </label><input type="text" name="email" required>
        </p>
        <p>
            <label>Password: </label><input type="password" name="password" placeholder="123 Any Street" minlength='8' required>
        </p>
        <p>
            <label>Street: </label><input type="text" name="street" required>
        </p>
        <p>
            <label>City: </label><input type="text" name="city" required>
        </p>
        <p>
            <label>State: </label><select name="state" required>
                <option value="alabama">AL</option>
                <option value="alaska">AK</option>
                <option value="arizona">AZ</option>
                <option value="arkansas">AR</option>
                <option value="california">CA</option>
                <option value="colorado">CO</option>
                <option value="connecticut">CT</option>
                <option value="delaware">DE</option>
                <option value="florida">FL</option>
                <option value="georgia">GA</option>
                <option value="hawaii">HI</option>
                <option value="idaho">ID</option>
                <option value="illinois">IL</option>
                <option value="indiana">IN</option>
                <option value="iowa">IA</option>
                <option value="kansas">KS</option>
                <option value="kentucky">KY</option>
                <option value="louisiana">LA</option>
                <option value="maine">ME</option>
                <option value="maryland">MD</option>
                <option value="massachusetts">MA</option>
                <option value="michigan">MI</option>
                <option value="minnesota">MI</option>
                <option value="mississippi">MN</option>
                <option value="missouri">MO</option>
                <option value="montana">MT</option>
                <option value="nebraska">NE</option>
                <option value="nevada">NV</option>
                <option value="newhampshire">NH</option>
                <option value="newjersey">NJ</option>
                <option value="newmexico">NM</option>
                <option value="newyork">NY</option>
                <option value="northcarolina">NC</option>
                <option value="northdakota">ND</option>
                <option value="ohio">OH</option>
                <option value="oklahoma">OK</option>
                <option value="oregon">OR</option>
                <option value="pennsylvania">PA</option>
                <option value="rhodeisland">RI</option>
                <option value="southcarolina">SC</option>
                <option value="southdakota">SD</option>
                <option value="tennessee">TN</option>
                <option value="texas">TX</option>
                <option value="utah">UT</option>
                <option value="vermont">VA</option>
                <option value="virginia">VA</option>
                <option value="washington">WA</option>
                <option value="westvirginia">WV</option>
                <option value="wisconsin">WI</option>
                <option value="wyoming">WY</option>
            </select>
        </p>
        <p>
            <label>Zipcode: </label><input type="text" required name="zipcode">
        </p>
        <p>
            <label>Political Party: </label>
            <input id="inputPoliticalParty" type="text" name="politicalparty" required>
        </p>
        <p>
            <button type="submit">Register!</button>
        </p>
    </div>
</form>

<script>

///initiating the autocomplete function along with inputPoliticalParty element
autocomplete(document.getElementById("inputPoliticalParty"), parties);

form.addListening("submit", function(evt) {
    if (form.checkValidity() === false) {
        evt.preventDefault();
        alert("Form is invalid - please fill in required fields!");
        return false;
    }
});

</script>

{% endblock %}